.outer-container {
  padding: 20px;
}

.recommendation-card {
  box-shadow: 0 4px 8px var(--card-shadow-color);
  border-radius: 10px;
  background-color: var(--blank-color);
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  top: -3px;
}

.checkbox-container label {
  font-size: 1rem;
  line-height: 1.2;
}

.enabled-input {
  background-color: var(--blank-color) !important;
}

.disabled-input {
  background-color: var(--light-medium-gray-color) !important;
}

.title {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

input.form-control {
  border-radius: 0 !important;
}

.input-group-text {
  border-radius: 0 !important;
}

/* Slider */
/* 滑動條容器 */
.slider-container {
  margin-bottom: 30px;
  width: 600px; /* 調整滑動條的長度，使其更符合界面比例 */
}

/* 滑動條的標籤樣式 */
.slider-label {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-text-color);
}
