:root {
  --search-icon-color: var(--sidebar-complementary-color);
  --reset-button-color: var(--sidebar-complementary-color);
  --search-input: var(--sidebar-complementary-color);
  --search-input-border: var(--sidebar-complementary-color);
}

.search-wines-container {
  position: relative;
  width: 100%;
  top: -10px; /* 調整 top，讓搜尋欄位置更合適 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex; /* 確保搜尋欄和重置按鈕在同一行 */
  align-items: center;
  gap: 10px;
}

.search-input {
  background-color: var(--search-input-background-color);
  color: var(--search-input);
  flex: 1 1 auto; /* 允許搜尋欄縮小 */
  min-width: 0; /* 防止內容撐開 */
  padding: 10px 10px 10px 40px; /* 左側為放大鏡圖標留出空間 */
  border: 1px solid var(--search-input-border);
  border-radius: 20px;
  font-size: 18px;
  height: 40px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px; /* 圖標距離輸入框左側的距離 */
  top: 50%;
  color: var(--search-icon-color);
  transform: translateY(-50%);
}

.reset-button {
  flex: 0 0 auto; /* 保持按鈕自然大小 */
  font-size: 18px;
  display: flex;
  align-items: center;
  background-color: transparent !important; /* 透明背景 */
  border: none !important; /* 移除邊框 */
  cursor: pointer; /* 鼠標樣式 */
  padding: 0px !important; /* 給按鈕一點內邊距 */
  box-shadow: none !important; /* 移除陰影 */
  color: var(--search-icon-color) !important;
}

.loading {
  margin-top: 50px;
  text-align: center;
}

.spinner {
  border: 4px solid var(--spinner-border-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--spinner-border-left-color);
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
