:root {
  --sidebar-text-color: var(--sidebar-complementary-color);
  --sidebar-shadow-color: var(--normal-shadow-color);
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--sidebar-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px var(--sidebar-shadow-color);
}

.sidebar-collapsed {
  width: 0;
}

.sidebar-expanded {
  width: 250px;
}

.wine-list {
  padding: 10px;
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* wine list Block */
.wines-list-header {
  margin-top: 10px;
  color: var(--sidebar-text-color);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.wines-list-header-visible {
  opacity: 1;
}

.upload-button {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.upload-button-visible {
  opacity: 1;
}

.upload-icon-button {
  background-color: transparent !important;
  cursor: pointer;
  padding: 0px !important;
  box-shadow: none !important;
  border: 3px dashed var(--separator--line--color) !important;
  border-radius: 10px !important;
  color: var(--sidebar-text-color) !important;
  font-size: 24px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-icon-button:hover {
  background-color: var(--item-hover-color) !important;
  border-color: var(--item-hover-color) !important;
  transform: scale(1.03);
}

/* Search Block */
.search-container {
  height: 60px;
  padding: 20px;
  flex-shrink: 0;
  border-bottom: 2px solid var(--separator--line--color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search-container-visible {
  opacity: 1;
}

.search-results-header {
  margin-top: 10px;
  color: var(--sidebar-text-color);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.search-results-header-visible {
  opacity: 1;
}

.search-results-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.search-results-list-visible {
  opacity: 1;
}

.search-list-item {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
}

.search-list-item:hover {
  background-color: var(--item-hover-color);
  transform: scale(1.03);
  border-radius: 10px;
}

.no-results {
  margin-top: 10px;
  color: var(--sidebar-text-color);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.no-results-visible {
  opacity: 1;
}

.wine-list::-webkit-scrollbar {
  width: 12px;
}

.wine-list::-webkit-scrollbar-track {
  background-color: var(--sidebar-background-color);
}

.wine-list::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid var(--item-hover-color);
}

.wine-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--sidebar-text-color);
}
