:root {
  --complementary-color: #b5bbc5;

  --sidebar-text-color: var(--complementary-color); /* 深灰色文字 */
  --item-hover-color: #393d41;
}

.wines-list-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.wines-list-container-visible {
  opacity: 1;
}

.wine-list-item {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
}

.wine-list-item:hover {
  background-color: var(--item-hover-color);
  transform: scale(1.03);
  border-radius: 10px;
}

.loading,
.no-wines {
  text-align: center;
  color: #888;
}
