.wine-details-container {
}

.wine-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wine-details-title {
  max-width: 500px;
}

.wine-details-controls {
  display: flex;
  gap: 10px;
}

.wine-image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.save-button {
  background-color: #4caf50 !important;
  color: white !important;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #66c266 !important;
}

.edit-button {
  background-color: #007bff !important;
  color: white !important;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3 !important;
}

.delete-button {
  background-color: #f44336 !important;
  color: white !important;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e53935 !important;
}

/* Notes Section */
.bottom-section {
  margin-top: 20px;
}

.note-item {
  background-color: #f8f8f8 !important;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.no-notes-tag {
  font-style: italic;
  color: #888 !important;
}

.note-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.note-content p {
  margin-left: 10px;
  font-size: 16px;
}

.editIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.editIcon:hover {
  color: #9b1d30 !important;
}

.note-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  resize: vertical;
}

.addNoteButton {
  margin-top: 10px;
  padding: 12px 20px;
  background-color: #9b1d30 !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addNoteButton:hover {
  background-color: #b53349 !important;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.textarea {
  padding: 10px;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  resize: vertical;
}

.submitButton {
  background-color: #4caf50 !important;
  color: white !important;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #66c266 !important;
}
