:root {
  /* 按鈕顏色 */
  --action-button-color: var(--deep-gray-color);
  --info-text-color: var(--deep-text-color);
  --note-edit-hover-color: var(--deep-gray-hover-color);
  --note-edit-hover-background-color: var(--deep-gray-hover-background-color);
}

.wine-details-container {
  padding: 20px;
}

/* 卡片樣式 */
.wine-details-card,
.notes-card,
.tasting-note-card,
.sat-note-card {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px var(--card-shadow-color) !important;
  border-radius: 10px !important;
}

.wine-details-card {
  background-color: var(--light-pink-color) !important;
  padding-bottom: 30px;
}

.wine-details-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 250px;
}

.wine-details-content {
  flex: 1;
  padding-right: 20px;
}

/* Wine Info */
.wine-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 確保每一行置中 */
  align-items: center; /* 整個容器的內容置中 */
}

/* 標題字體樣式 */
.wine-info-title {
  padding: 20px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700 !important; /* 粗體 */
  font-size: 36px; /* 調整字體大小 */
  color: var(--accent-color); /* 使用全局設置的主題顏色 */
}

/* 段落樣式 */
.wine-info {
  display: flex;
  align-items: center;
  width: 100%; /* 讓行寬度覆蓋整個區域 */
  max-width: 300px; /* 設定最大寬度，讓內容不超過範圍 */
}

.wine-info-label {
  font-family: "Libre Baskerville", serif;
  font-size: 24px; /* 調整字體大小 */
  font-weight: 700; /* 正常字重 */
  line-height: 1.5; /* 行高，讓文字更易讀 */
  color: var(--info-text-color);
  width: 150px; /* 左邊的項目標籤寬度 */
  text-align: right; /* 右對齊 */
  padding-right: 10px; /* 與分隔線的間距 */
}

.wine-info-text {
  font-family: "Libre Baskerville", serif;
  font-size: 24px; /* 調整字體大小 */
  font-weight: 400; /* 正常字重 */
  line-height: 1.5; /* 行高，讓文字更易讀 */
  color: var(--info-text-color);
  flex: 1;
  padding-left: 10px; /* 與分隔線的間距 */
  text-align: left; /* 左對齊 */
  position: relative;
}

.wine-info.time {
  position: absolute;
  bottom: -10px;
  right: 20px;
  font-size: 12px !important;
  white-space: nowrap;
  overflow: hidden;
}

.wine-info-label.time {
  font-weight: normal;
  /* font-style: italic; */
  font-size: 14px !important;
  color: var(--deep-gray-color);
  padding-right: 0px !important;
}

.wine-info-text.time {
  font-weight: normal;
  /* font-style: italic; */
  font-size: 14px !important;
  color: var(--deep-gray-color);
}

/* 圖片容器 */
.wine-image-container {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 55px;
  transform: translateX(-45px);
}

.wine-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.image-action-buttons {
  position: absolute;
  top: 20px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 通用按鈕樣式（不繼承全局樣式） */
.wine-edit-Button,
.wine-delete-Button,
.note-gen-Button,
.sort-order-button {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  padding: 10px 12px !important;
  box-shadow: none !important;
  border-radius: 20px; /* 讓按鈕呈圓形 */
  transition: background-color 0.3s ease;
  color: var(--action-button-color) !important;
}

/* 按鈕懸停效果 */
.wine-edit-Button:hover {
  background-color: var(--blue-hover-background-color) !important;
  color: var(--blue-hover-color) !important;
}

.wine-delete-Button:hover {
  background-color: var(--red-hover-background-color) !important;
  color: var(--red-hover-color) !important;
}

.note-gen-Button:hover {
  background-color: var(--green-hover-background-color) !important;
  color: var(--green-hover-color) !important;
}

.detail-item {
  display: flex; /* 使用 flex 排版 */
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap; /* 允许在小屏幕下换行 */
  color: var(--info-text-color);
}

.detail-item label {
  width: 100px; /* 固定標籤寬度 */
  font-weight: 700;
  margin-right: 10px;
  flex-shrink: 0;
  color: var(--info-text-color);
}

.input {
  flex: 1 1 auto;
  padding: 8px;
  border: 1px solid var(--medium-gray-color);
  border-radius: 4px;
  box-shadow: inset 0 1px 3px var(--normal-shadow-color);
  min-width: 0;
}

/* 保存按鈕 */
.wine-save-button,
.note-save-button,
.sat-save-button {
  background-color: var(--green-color) !important;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--blank-color) !important;
}
.wine-save-button:hover,
.note-save-button:hover,
.sat-save-button:hover {
  background-color: var(--green-hover-color) !important;
}

/* note, sat 其他按鈕 */
.wine-save-container,
.note-buttons,
.note-edit-buttons,
.sat-edit-buttons {
  text-align: right;
}

.note-delete-button,
.sat-cancel-button {
  margin-left: 10px;
  color: var(--blank-color) !important;
}

.sat-edit-button {
  color: var(--blank-color) !important;
  position: absolute;
  top: 32px;
  right: 20px;
  display: flex;
  align-items: center;
  color: var(--blank-color) !important;
}
.sat-add-button {
  color: var(--blank-color) !important;
  position: absolute;
  top: 32px;
  right: 20px;
  display: flex;
  align-items: center;
  color: var(--blank-color) !important;
  padding: 8px 15px !important;
  font-size: 18px;
}

.submit-note-button {
  margin-bottom: 20px;
}

/* Notes Section */
.tasting-note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasting-note-header h2 {
  font-size: 36px; /* 調整字體大小 */
  font-family: "Lato", sans-serif !important; /* 調整字體類型 */
  font-weight: 700 !important; /* 調整字體粗細 */
  margin-bottom: 40px;
}

.add-note-button {
  padding: 8px 15px !important;
  box-shadow: none !important;
  border-radius: 50px !important; /* 讓按鈕呈圓形 */
  color: var(--blank-color) !important;
  position: absolute;
  top: 32px;
  right: 115px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sort-order-button {
  padding: 10px !important;
  position: absolute;
  top: 30px;
  right: 65px;
}

.sort-order-button:hover {
  background-color: var(--blue-hover-background-color) !important;
  color: var(--blue-hover-color) !important;
}

.note-gen-Button {
  padding: 10px !important;
  position: absolute;
  top: 30px;
  right: 15px;
}

ul {
  margin-top: 0px !important; /* 增加 Tasting Notes 與第一則筆記的距離 */
  padding-left: 0; /* 去掉 ul 的左邊距 */
  list-style-type: none; /* 隱藏小黑點 */
}

.notes-list {
  list-style-type: none;
  padding-left: 0;
}

.note-item {
  background-color: var(--light-gray-color);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--normal-shadow-color);
}

.note-editor {
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-notes-tag {
  display: block;
  margin-top: 20px;
  font-style: italic;
  font-size: 18px;
}

.note-input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Tasting Note Buttons 5*/

.note-content {
  position: relative;
  padding-right: 30px;
  align-items: center; /* 垂直方向上居中 */
  justify-content: flex-start; /* 左對齊 */
}

.note-edit-icon {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  padding: 6px 8px 4px 8px !important;
  box-shadow: none !important;
  border-radius: 50% !important;
  color: var(--action-button-color) !important;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.note-edit-icon:hover {
  background-color: var(--note-edit-hover-background-color) !important;
  color: var(--note-edit-hover-color) !important;
}

.note-content p {
  position: relative;
  margin: 0; /* 去掉 p 標籤的默認 margin */
  font-size: 1rem; /* 調整字體大小 */
  word-wrap: break-word; /* 強制長字串換行 */
  overflow-x: hidden; /* 隱藏水平滾動條，避免內容溢出 */
}

.note-updatedAt {
  text-align: right;
  margin-right: -30px !important;
  margin-top: 5px !important;
  font-size: 14px !important;
  color: var(--deep-gray-color);
}

.ql-editor {
  font-size: 18px !important;
  min-height: 100px;
}

.ql-toolbar .ql-formats button {
  background-color: unset !important;
  border: unset !important;
  padding: unset !important;
  box-shadow: unset !important;
  color: unset !important;
  font-size: unset !important;
}

/* SAT Note Section */
.sat-note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sat-note-header h2 {
  font-size: 36px; /* 調整字體大小 */
  font-family: "Lato", sans-serif !important; /* 調整字體類型 */
  font-weight: 700 !important; /* 調整字體粗細 */
  margin-bottom: 40px;
}

.sat-note-form {
  display: flex;
  flex-direction: column;
}

.sat-note-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sat-note-item label {
  width: 150px;
  font-weight: bold;
  margin-right: 10px;
}

.sat-note-display p {
  margin-bottom: 8px;
}

.notes-container {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Adds space between the two sections */
  align-items: flex-start; /* Aligns items at the top */
  margin-bottom: 20px; /* Adds spacing below the container */
}

/* Style for individual note sections */
.note-section.tasting-notes {
  flex: 2;
  margin-right: 20px;
  word-wrap: break-word; /* 強制長字串換行 */
  overflow-x: hidden; /* 隱藏橫向滾動條，避免區塊變寬 */
}

.note-section.sat-notes {
  flex: 1;
}

.no-sat-tag {
  display: block;
  margin-top: 20px;
  font-style: italic;
  font-size: 18px;
}

/* Remove margin for the last section */
.note-section:last-child {
  margin-right: 0;
}

.sat-note-table {
  width: 100%; /* 讓表格寬度自適應 */
  border-collapse: collapse; /* 讓邊框之間不重疊 */
}

.sat-note-table td {
  font-size: 18px !important;
  padding: 10px; /* 單元格內部填充 */
  border-bottom: 1px solid #ddd; /* 每行之間的分隔線 */
}

.sat-note-table td:first-child {
  font-weight: bold; /* 第一欄的文字加粗 */
}

.sat-note-table td:last-child {
  text-align: left; /* 內容左對齊 */
}

.sat-note-buttons {
  display: flex;
  justify-content: flex-start; /* 按鈕靠左對齊 */
  gap: 10px; /* 按鈕之間的間距 */
  margin-top: 20px; /* 上方的間距 */
}

.sat-cancel-button {
  padding: 10px 20px; /* 設置按鈕內邊距 */
  font-size: 16px; /* 調整字體大小 */
  border-radius: 5px; /* 調整圓角 */
  border: none; /* 移除邊框 */
  cursor: pointer; /* 鼠標樣式 */
}

.input-error {
  border: 1px solid red;
}
