.form-container {
  padding: 30px; /* 加大表單內邊距 */
  border: 1px solid var(--medium-gray-color);
  border-radius: 8px;
  background-color: var(--light-gray-color);
  max-width: 500px;
  margin: 40px auto; /* 增加表單與外圍的距離 */
  box-shadow: 0 4px 8px var(--normal-shadow-color); /* 添加輕微陰影 */
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px; /* 增加標題與表單間的距離 */
  font-size: 24px; /* 加大標題字體 */
  color: var(--deep-text-color);
}

.form-container label {
  font-weight: bold;
  cursor: auto !important;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  color: var(--deep-text-color);
}

.form-container .form-group {
  margin-bottom: 25px; /* 增加每個輸入框之間的間距 */
}

.form-container .form-input,
.form-container .form-select {
  width: 100%;
  padding: 12px; /* 調整輸入框的內邊距 */
  font-size: 18px;
  border: 1px solid var(--medium-gray-color);
  border-radius: 4px;
  background-color: var(--blank-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-container input:focus,
.form-container select:focus {
  border-color: var(--green-color) !important;
  outline: 3px solid var(--green-hover-background-color) !important;
}

/* 隱藏原生的文件上傳按鈕 */
.hidden-file-input {
  display: none;
}

.image-upload-container {
  border: 1px solid var(--medium-gray-color);
  background-color: var(--blank-color);
  padding: 15px;
  border-radius: 8px !important;
}

.image-upload-container:hover {
  border-color: var(--green-color) !important;
  outline: 3px solid var(--blue-hover-background-color) !important;
}

/* 自定義文件上傳按鈕樣式 */
.custom-file-upload {
  display: inline-block !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  color: white !important;
  border-radius: 8px !important;
  text-align: center !important;
  font-size: 16px !important;
}

/* 檔案名稱顯示在按鈕右邊 */
.file-name {
  display: inline-block; /* 讓檔案名稱與按鈕在同一行 */
  margin-left: 20px; /* 調整與按鈕之間的距離 */
  font-size: 18px;
  color: var(--deep-text-color);
}

.wine-upload-button {
  background-color: var(--green-color) !important;
  padding: 10px 15px !important;
  color: var(--blank-color) !important;
  font-size: 18px !important;
  border-radius: 40px !important;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.wine-upload-button:hover {
  background-color: var(--green-hover-color) !important;
}

.suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 23%;
  z-index: 1000;
}

.suggestions li {
  padding: 5px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.btn-confirm {
  background-color: var(--green-color) !important; /* 綠色 */
  color: white !important;
}

.btn-confirm:hover {
  background-color: var(--green-hover-color) !important; /* 綠色 */
}
