:root {
  --action-button-color: var(--deep-gray-color);
  --info-text-color: var(--deep-text-color);
  --note-edit-hover-color: var(--deep-gray-hover-color);
  --note-edit-hover-background-color: var(--deep-gray-hover-background-color);
}

/* WineCard Block */
.wine-card {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px var(--card-shadow-color) !important;
  border-radius: 16px !important;
  background-color: var(--light-pink-color) !important;
}

.wine-card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 250px;
}

.wine-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wine-card-title {
  padding: 20px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700 !important;
  font-size: 36px;
  color: var(--accent-color);
}

.wine-card-info {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.wine-card-label {
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--info-text-color);
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

.wine-card-text {
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--info-text-color);
  flex: 1;
  padding-left: 10px;
  text-align: left;
  position: relative;
}

.wine-card-image-container {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 55px;
  transform: translateX(-45px);
}

.wine-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
