.home-container {
  display: flex;
}

.home-content {
  flex: 1;
  padding: 20px;
  background-color: #fafafa;
}

.home-placeholder-wrapper {
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  min-height: 100vh; /* 讓其高度覆蓋整個視窗高度 */
}

.home-placeholder-text {
  font-size: 36px;
  color: #333;
  text-align: center; /* 居中 */
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
}
