:root {
  --primary-color: #880e25; /* 主色 */
  --secondary-color: #4b2e2a; /* 次色 */
  --accent-color: #4b2e2a; /* 強調色 */
  --gray-color: #888888;
  --deep-gray-color: #6f6f6f;
  --light-gray-color: #f9f9f9;
  --light-medium-gray-color: #e4e7eb;
  --medium-gray-color: #cccccc;
  --light-pink-color: #fef9fa;
  --blank-color: #fff;
  --light-color: #f3ebe6;
  --deep-text-color: #191c1f;
  --primary-light-hover-color: #cf1538;
  --primary-deep-hover-color: #660a1b;
  --primary-deep-hover-background-color: rgba(136, 14, 37, 0.1);
  --deep-gray-hover-color: #4f4f4f;
  --deep-gray-hover-background-color: rgba(111, 111, 111, 0.1);
  --normal-hover-color: #f0f0f0;
  --logout-color: #dc3545;
  --green-color: #0e8871;
  --blue-hover-color: #0056b3;
  --blue-hover-background-color: rgba(0, 123, 255, 0.1);
  --red-hover-color: #d32f2f;
  --red-hover-background-color: rgba(244, 67, 54, 0.1);
  --green-hover-color: #45a049;
  --green-hover-background-color: rgba(76, 175, 80, 0.1);

  --sidebar-complementary-color: #b5bbc5;
  --sidebar-background-color: #272c31; /* 側邊欄背景色 */
  --separator--line--color: #3b424a;
  --item-hover-color: #393d41;
  --search-input-background-color: #30373d;

  --spinner-border-color: #ffffff;
  --spinner-border-left-color: #09f;

  --card-shadow-color: rgba(0, 0, 0, 0.3); /* 卡片陰影顏色 */
  --general-shadow-color: rgba(128, 128, 128, 0.3); /* 其他元素的陰影顏色 */
  --normal-shadow-color: rgba(0, 0, 0, 0.1);

  --background-color: var(--light-color); /* 背景底色 */
  --text-color: var(--accent-color); /* 文字顏色 */
  --button-background-color: var(--primary-color); /* 按鈕背景色 */
  --button-text-color: var(--light-color); /* 按鈕文字顏色 */
  --header-background: var(--blank-color); /* 頁首背景色 */
  --header-text-color: var(--accent-color); /* 頁首文字顏色 */
  --header-botton-hover-color: var(--primary-deep-hover-color);
  --header-botton-hover-background-color: var(
    --primary-deep-hover-background-color
  );
  --card-background-color: var(--blank-color); /* 卡片背景色 */
  --dropdown-item-hover-color: var(--normal-hover-color);
  --table-header-background: var(--light-color); /* 表頭背景色 */
  --table-header-text-color: var(--accent-color); /* 表頭文字顏色 */
  --table-row-hover-background: var(--normal-hover-color); /* 表格行懸停背景 */
}

.header {
  background-color: var(--header-background) !important;
  color: var(--header-text-color) !important;
  height: 60px !important;
  box-shadow: 0 2px 5px var(--general-shadow-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

/* 中間區域：標題和 logo */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  max-width: 400px;
  transform: translateX(-60px);
}

.header-logo {
  display: inline-block;
  height: 45px; /* 確保 logo 不會過大，根據需要調整 */
  margin-right: 10px;
}

.header-title {
  display: inline-block;
  font-size: 36px; /* 調整字體大小 */
  font-weight: bold;
  color: var(--header-text-color);
  margin-top: 5px;
  flex-shrink: 0;
}

/* 按鈕樣式 */
button {
  background-color: var(--button-background-color) !important;
  color: var(--button-text-color) !important;
  border: none !important;
  padding: 8px 20px !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  box-shadow: 0 2px 4px var(--general-shadow-color) !important;
  transition: background-color 0.3s ease !important;
}

button:hover {
  background-color: var(--primary-light-hover-color) !important;
}

/* Original styles */
.homepage-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.homepage-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--background-color);
}

.homepage-content-expanded {
  margin-left: 250px; /* 側邊欄展開時的樣式 */
}

.homepage-content-collapsed {
  margin-left: 0; /* 側邊欄收起時的樣式 */
}

.content-body {
  padding: 20px;
}

.outer-container {
  padding: 20px;
}

.welcome-card,
.recommendations-card {
  /* padding: 20px; */
  border-radius: 8px; /* 添加卡片的圓角 */
  background-color: var(--card-background-color) !important;
  box-shadow: 0 2px 10px var(--card-shadow-color) !important;
}

.welcome-card-body {
  text-align: center; /* 水平居中 */
}

.welcome-card-title {
  font-size: 36px; /* 放大标题 */
  font-weight: bold; /* 加粗标题 */
}

.welcome-card-text {
  font-size: 24px; /* 放大文字 */
  margin-top: 30px; /* 添加一些顶部间距 */
}

/* Header 左側區域 */
/* 漢堡 */
.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
}

.toggle-button > div {
  margin: 0;
  padding: 0;
}

.left-header-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-shrink: 0;
}

.home-button,
.recommendation-button {
  background-color: transparent !important; /* 透明背景 */
  border: none !important; /* 移除邊框 */
  padding: 5px 15px !important; /* 給按鈕一點內邊距 */
  box-shadow: none !important; /* 移除陰影 */
  color: var(--header-text-color) !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
  margin-left: 10px;
  flex-shrink: 0;
  border-radius: 20px !important;
}

.home-button:hover,
.recommendation-button:hover {
  color: var(--primary-deep-hover-color) !important;
  background-color: var(
    --primary-deep-hover-background-color
  ) !important; /* 確保背景色為透明 */
}

/* Header 右側區域 */
.right-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* margin-right: 20px; */
}

/* 分隔線 */
.separator {
  border-left: 1px solid #ccc;
  height: 60px;
  margin: 0 15px;
}

/* user-info 區域 */
.user-info {
  position: relative; /* 定位 */
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 150px;
  flex-shrink: 0;
}

.user-dropdown {
  position: relative;
}

.user-profile {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px; /* 增加頭像和用戶名之間的距離 */
}

.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  font-size: 16px;
}

/* 移除 DropdownToggle 的預設箭頭 */
.dropdown-toggle::after {
  display: none;
}

/* 調整 DropdownToggle */
.dropdown-toggle {
  display: flex !important;
  align-items: center;
  width: 100% !important;
}

/* 下拉選單樣式 */
.dropdown-menu-custom {
  border-radius: 0 0 4px 4px !important;
  position: absolute !important;
  top: 7.5px !important; /* 確保下拉菜單緊貼觸發元素 */
  right: -40px !important;
  width: 168px !important;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000 !important; /* 確保下拉選單在最上層顯示 */
}

/* 顯示下拉選單 */
.dropdown-menu-custom.show {
  opacity: 1 !important; /* 確保顯示時完全不透明 */
  visibility: visible !important; /* 顯示時可見 */
  transform: scaleY(1);
}

/* 下拉選單項目 */
.dropdown-item {
  background-color: transparent !important; /* 移除背景色 */
  color: var(--text-color) !important; /* 使用默認字體顏色 */
  border: none !important; /* 移除按鈕邊框 */
  padding: 10px 20px; /* 調整內邊距 */
  border-radius: 0px !important;
  cursor: pointer; /* 仍然顯示可點擊的手型 */
  display: flex; /* 將圖標和文字對齊 */
  align-items: center;
  box-shadow: none !important;
}

.dropdown-item:hover {
  background-color: var(--dropdown-item-hover-color) !important;
}

/* 下拉選單中的圖標 */
.dropdown-icon {
  margin-right: 10px;
  font-size: 20px;
}

.text-danger .dropdown-icon {
  color: var(--logout-color);
}

.login-container {
  display: flex;
  align-items: center;
  background-color: transparent; /* 背景色 */
  padding: 15px 40px; /* 內邊距 */
  color: var(--deep-text-color); /* 文字顏色 */
  cursor: pointer; /* 顯示手型，表明可點擊 */
  white-space: nowrap;
  transform: translateX(-15px);
}

.user-icon {
  font-size: 24px; /* 調整圖標大小 */
  margin-right: 15px; /* 圖標與文字保持間距 */
}

.login-text {
  font-size: 18px; /* 調整文字大小，使其更顯眼 */
}

.login-container:hover {
  background-color: rgba(0, 123, 255, 0.2); /* 懸停時的背景色 */
}

/* 表格的通用樣式 */
.recommendations-table {
  width: 100%;
  border-collapse: collapse; /* 移除表格的間隙，讓邊框合併 */
  background-color: var(--blank-color); /* 背景色為白色 */
  border-radius: 2px; /* 添加圓角 */
  overflow: hidden; /* 隱藏圓角外部的內容 */
}

/* 表頭樣式 */
.recommendations-table-header {
  background-color: var(--table-header-background);
  color: var(--table-header-text-color);
}

.recommendation-table-header-cell {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  text-align: left !important;
  border-bottom: 2px solid var(--gray-color) !important;
}

/* 表格每行的樣式 */
.recommendation-row {
  border-bottom: 1px solid var(--gray-color) !important;
  transition: background-color 0.3s ease;
}

/* 最後一行的特殊樣式 */
.last-row {
  border-bottom: none !important;
}

/* 單元格的樣式 */
.recommendation-cell {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: var(--text-color);
}

/* 懸停效果 */
.recommendation-row:hover {
  background-color: var(--table-row-hover-background);
}

.table-container {
  box-shadow: none !important;
  border: none !important;
}

.title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold; /* 如果需要字體加粗，可以加這個屬性 */
  color: var(--deep-text-color); /* 可選：調整字體顏色 */
}
